@model RestaurantFavoritizer.Models.Employee

<div class="menu-item col-md-4">
    <div class="menu-item-information">
        <div class="list-group-item" data-toggle="collapse" href="#collapse-employee-@Model.EmployeeID" aria-expanded="false" aria-controls="collapse-employee-@Model.EmployeeID">
            <div class="menu-item-info">
                <div class="menu-item-title"><h4>@Model.EmployeeName</h4></div>
                <div class="menu-item-type">@Model.EmployeeType</div>
                @if (@Model.EmployeeDescription != null)
                {
                    <div class="menu-item-description">
                        <p>
                            @Model.EmployeeDescription
                        </p>
                    </div>
                }
            </div>
            <div class="menu-item-rating">
                <span class="menu-item-dislikes pull-right" title="I Dislike This" data-action="/Restaurant/ToggleEmployeeLike" data-json="{&quot;EmployeeID&quot;: @Model.EmployeeID,&quot;LikeStatus&quot;: @((int)RestaurantFavoritizer.Models.LikeStatus.Dislike),&quot;RestaurantID&quot;: @Model.RestaurantID}">
                    <i class="fa fa-thumbs-down"></i><span class="dislikeCount">@Model.DisLikeCount</span>
                </span>
                <span class="menu-item-likes pull-right" title="I Like This" data-action="/Restaurant/ToggleEmployeeLike" data-json="{&quot;EmployeeID&quot;: @Model.EmployeeID,&quot;LikeStatus&quot;: @((int)RestaurantFavoritizer.Models.LikeStatus.Like),&quot;RestaurantID&quot;: @Model.RestaurantID}">
                    <i class="fa fa-thumbs-up"></i><span class="likeCount">@Model.LikeCount</span>
                </span>
                <span class="menu-item-add pull-right" href="#" title="Favorite" data-type="EmployeeItem" data-container="Restaurant-@Model.RestaurantID" data-action="/MyFavorites/AddFavoriteEmployee" data-json="{&quot;RestaurantID&quot;: @Model.RestaurantID,&quot;EmployeeID&quot;: @Model.EmployeeID,&quot;EmployeeName&quot;: &quot;@Model.EmployeeName&quot;}">
                    <i class="fa fa-star fa-lg"></i>
                </span>
            </div>
        </div>
    </div>
</div>
